DOMAIN=localhost:8000
SERVER_NAME=localhost
SERVER_HOST=http://localhost
STACK_NAME=sale_fast

# BACKEND
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080", "http://dev.fastapi_fullstack_project.com", "https://stag.fastapi_fullstack_project.com", "https://fastapi_fullstack_project.com", "http://local.dockertoolbox.tiangolo.com", "http://localhost.tiangolo.com"]
PROJECT_NAME=ads-service
SECRET_KEY=change_this
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=change_this
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=smpt_host
SMTP_USER=no-reply@example.com
SMTP_PASSWORD=change_this
EMAILS_FROM_EMAIL=info@example.com
PIP_REQUIREMENTS=dev.txt
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8080
FLOWER_PORT=5555
SENTRY_DSN=

# JWT
JWT_SECRET_KEY="change_this"
JWT_PRIVATE_KEY="change_this"
JWT_PUBLIC_KEY="change_this"


