{% extends 'dashboard/layout/content.html' %}



{% block content %}

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card overflow-visible">
                    <div class="card-header">
                        <a href="{{ url_for('config-update-page') }}"
                           class="button button-large button-circle button-green"><i
                                class="icon-edit"></i>{{ _('Edit') }}</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ _('Site name') }}</td>
                                <td>{{ object.site_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Company name') }}</td>
                                <td>{{ object.company_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Seo description') }}</td>
                                <td>{{ object.seo_description }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Email') }}</td>
                                <td>{{ object.email }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Phone number') }}</td>
                                <td>{{ object.phone_number }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Address') }}</td>
                                <td>{{ object.address }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Location') }}</td>
                                <td>{{ object.location }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}