{% extends 'dashboard/layout/content.html' %}


{% block content %}

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card overflow-visible">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>

                        <!-- Default Table -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ _('Id') }}</th>
                                <th>{{ _('Title') }}</th>
                                <th>{{ _('Email') }}</th>
                                <th>{{ _('Created at') }}</th>
                                <th>{{ _('Actions') }}</th>
                            </tr>
                            </thead>
                    <tbody>
                    {% for object in object_list %}

                        <tr>
                            <td>{{ object.id }}</td>
                            <td>{{ object.title }}</td>
                            <td>{{ object.email }}</td>

                            <td>{{ object.created_at.strftime('%d.%m.%Y %H:%M') }}</td>

                            <td>

                                        <!-- Example single danger button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ _("Actions") }}
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item"
                                           href="{{ url_for('message-detail-page', obj_id=object.id) }}">{{ _('View') }}</a>
                                                </li>

                                            </ul>
                                        </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                    <div class="card-footer">
                        {% include 'partials/pagination.html' %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}