{% extends 'dashboard/layout/content.html' %}


{% block content %}

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="row clearfix">
                <a href="{{ url_for('user-create-page') }}" class="button button-large button-circle button-purple"><i
                        class="icon-plus"></i>{{ _('Add') }}</a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ _('Id') }}</th>
                        <th>{{ _('Email') }}</th>
                        <th>{{ _('Actions') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}

                        <tr>
                            <td>{{ object.id }}</td>
                            <td>{{ object.email }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ _("Actions") }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{{ url_for('user-detail-page', email_in=object.email) }}">{{ _('View') }}</a>
                                        <a class="dropdown-item"
                                           href="{{ url_for('user-update-page', email_in=object.email) }}">{{ _('Edit') }}</a>
                                        <a class="dropdown-item"
                                           href="{{ url_for('user-delete', email_in=object.email) }}">{{ _('Delete') }}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div><!-- .postcontent end -->
            <div class="row">
                <div class="col">
                    {% include 'partials/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}